.original{
  background-color: #ECDD39;
  height: 300px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
  
}

.main {
  background-color: #39A6EC;
}

.container {
  text-align: center;
}
h1 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  background-color:#3992EC;
}
